/*=============================================
=            Fonts                            =
=============================================*/

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&family=Secular+One&display=swap');

/*=============================================
=            Global Declarations              =
=============================================*/

html {
    font-size: 20px;
}

* {
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    list-style-type: none;
    text-decoration: none;
}

p {
    line-height: 1.8rem;
}

:root {
    --light-theme: #fff;
    --dark-theme: #0e0e0e;
    --complimentary: #5dc774;
    --animation-time: 1s;
}


/*=============================================
=            Animations                       =
=============================================*/

@keyframes falling-x {
    0% {
        transform: translateY(0%) rotate(90deg);
    }

    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes go-forward {
    from {
        transform: scale(100%);
    }

    to {
        transform: scale(200%);
        filter: blur(30px);
        opacity: 0;
    }
}

@keyframes go-backward {
    from {
        transform: scale(100%);
    }

    to {
        transform: scale(75%);
        filter: blur(30px);
        opacity: 0;
    }
}

@keyframes blinking {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.go-forward {
    animation: go-forward forwards var(--animation-time);
}

.go-backward {
    animation: go-backward forwards var(--animation-time);
}

.return-init-backward {
    animation: go-forward reverse forwards var(--animation-time);
}

.return-init-forward {
    animation: go-backward reverse forwards var(--animation-time);
}

.blinking {
    animation: blinking infinite alternate ease-in-out .7s;
}

/*=============================================
=            Main Styles                      =
=============================================*/

body {
    background-color: var(--light-theme);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.falling-x {
    position: absolute;
    pointer-events: none;
    font-size: 2rem;
    opacity: .2;
    animation: 2s forwards falling-x;
    z-index: 100;
}

/*=============================================
=            Utility Classes                  =
=============================================*/

.flex {
    display: flex;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.align-center {
    display: flex;
    align-items: center;
}

.main-wrapper {
    padding: 0 7rem;
}

.page {
    height: 100vh;
    width: 100%;
    background-color: var(--light-theme);
}

.page.custom-scroll {
    position: absolute;
}


/*=============================================
=            Header                           =
=============================================*/

#main-header {
    height: 100%;
    position: fixed;
    right: 0;
    padding: 0.2rem 2rem;
    z-index: 200;
    box-shadow: -1px 5px 5px rgba(63, 63, 63, 0.25);
}

#main-header>nav {
    position: relative;
}

#main-nav {
    padding: 0;
    flex-direction: column;
}

#main-nav>li {
    letter-spacing: 0.6rem;
    font-size: 2rem;
    text-align: center;
}

.plus {
    position: absolute;
    font-size: 1.5rem;
    bottom: 2%;
}

/*=============================================
=            Landing Section                  =
=============================================*/

#landing {
    padding-top: 11rem;
}

#landing>div {
    width: 50%;
}

#landing h1 {
    font-size: 4.6rem;
    font-family: 'Secular one';
    padding-left: 1rem;
    width: fit-content;

    --b: 4px;
    --c: var(--dark-theme);
    --w: 1rem;
    border: var(--b) solid #0000;
    --_g: #0000 90deg, var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background:
        conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0 / var(--_p),
        conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100% / var(--_p);
}

#landing p:nth-child(1) {
    font-size: 2rem;
}

#landing p:nth-child(2) {
    width: 75%;
}

#landing-btns {
    margin-top: 2rem;
}

#landing-btns>a {
    background-color: var(--dark-theme);
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;
    transition: .33s ease-in-out;
    margin-right: 1rem;
}

#landing-btns>a:hover {
    background-color: var(--complimentary);
}

.icons-showoff {
    font-size: 8rem;
    padding-top: 4rem;
}

.icons-showoff>div {
    height: fit-content;
}

/*=============================================
=            About                            =
=============================================*/



/*=============================================
=            Skills                           =
=============================================*/