/* Styles for light theme of portfolio.
Next are the contents of this file.
You can find sections by CTRL+F the following keywords:

__Fonts
__Global Declarations
__Animations
__Main Styles
__Utility Classes
__Header
__Landing Section
__Projects Section
__About Section
__Media Queries

*/

/*=============================================
=            __Fonts                          =
=============================================*/

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

/*=============================================
=            __Global Declarations            =
=============================================*/

html {
    font-size: 20px;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --light-theme: #fafafa;
    --dark-theme: #0e0e0e;
    --complimentary: #5dc774;
    --animation-time: 456ms;
    --grid-projects:none;
}

/*=============================================
=            __Animations                     =
=============================================*/

@keyframes falling-x {
    0% {
        transform: translateY(0%) rotate(90deg);
    }

    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

@keyframes go-forward {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(2);
        filter: blur(30px);
        opacity: 0;
    }
}

@keyframes go-backward {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.75);
        filter: blur(30px);
        opacity: 0;
    }
}

@keyframes blinking {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.go-forward {
    animation: go-forward forwards var(--animation-time);
}

.go-backward {
    animation: go-backward forwards var(--animation-time);
}

.return-init-backward {
    animation: go-forward reverse forwards var(--animation-time);
}

.return-init-forward {
    animation: go-backward reverse forwards var(--animation-time);
}

.blinking {
    animation: blinking infinite alternate ease-in-out .7s;
}

/*=============================================
=            __Main Styles                    =
=============================================*/

body {
    background-color: var(--light-theme);
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.falling-x {
    position: absolute;
    pointer-events: none;
    font-size: 2rem;
    opacity: .2;
    animation: 2s forwards falling-x;
    z-index: 100;
}

/*=============================================
=            __Utility Classes                =
=============================================*/

.flex {
    display: flex;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.align-center {
    display: flex;
    align-items: center;
}

.main-wrapper {
    padding: 0 5rem;
}

.page {
    height: 100vh;
    width: 100%;
    background-color: var(--light-theme);
}

.page.custom-scroll {
    position: fixed;
}

.page.custom-scroll.normal-scroll {
    position: absolute;
}

.section-title {
    font-size: 14vw;
    line-height: 1;
    font-family: 'Oswald';
    text-transform: uppercase;
    opacity: 0.2;
    margin: 0 0 9vh 0;
}

.btn {
    border:none;
    font-weight:300;
    font-size:1.25vw;
    border-radius:.5rem; 
    background-color: var(--dark-theme);
    color: var(--light-theme);
    padding: .25rem 2rem;
    transition:.11s;
}

.btn:hover {
    background-color: var(--complimentary);
    cursor:pointer;
}

.active-view {
    background-color: var(--complimentary) !important;
    opacity:1 !important; 
}

/*=============================================
=            __Header                         =
=============================================*/

#menu-bar {
    display: none;
    position: fixed;
    right:52.5%;
    top:1%;
    z-index: 202;
}

#blackened {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: rgba(20, 20, 20, 0.322);
    opacity: 0;
    transition: .33s ease-in-out;
    pointer-events: none;
}

#header {
    height: 100%;
    position: fixed;
    right: 50%;
    padding: 0.2rem 1.7rem;
    z-index: 200;
    box-shadow: -1px 5px 5px rgba(63, 63, 63, 0.25);
    transition: .33s ease-in-out;
    background-color: var(--light-theme);
}

#header li {
    cursor: pointer;
}

#header>nav {
    flex-direction: column;
}

#socials,
#navigation {
    padding: 0;
    max-width: 3rem;
}

#socials svg {
    width:24px;
    height:24px;
}

#socials>li {
    margin-bottom: 2vh;
    text-align: center;
}

#navigation>li:first-of-type::before {
    counter-set: item 0;
}

#navigation>li {
    counter-increment: item 1;
    margin-bottom: 1vh;
    position: relative;
}

#navigation>li::before {
    content: "0" counter(item);
    font-size: 1rem;
}

#navigation>li:nth-child(1):after {
    content:"accueil";
}
#navigation>li:nth-child(2):after {
    content:"projets";
}
#navigation>li:nth-child(3):after {
    content:"à propos";
}
#navigation>li:nth-child(4):after {
    content:"curriculum vitae";
}
#navigation>li:nth-child(5):after {
    content:"contact";
}

#navigation>li::after {
    display:block;
    font-size: 66%;
    transform:translateY(-25%);
}

#navigation>li>a {
    opacity: 0;
    position: absolute;
    z-index: 201;
    top: 0;
    left: -75%;
    width: 5rem;
    background-color: var(--dark-theme);
    font-size: 0.7rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;
    transition: .33s ease-in-out;
}

#navigation>li>a:hover {
    opacity: 1;
}

.active-section {
    opacity: 0.5;
    pointer-events: none;
}

/*=============================================
=            __Landing Section                =
=============================================*/

#landing {
    padding: 0 1rem;
}

#landing-text {
    width: 66%;
}

#landing h2 {
    font-size: 6rem;
    line-height: 6rem;
    font-family: 'Oswald';
    font-weight: 300;
    margin-bottom: 2rem;
    margin-top: 0;
}

#landing p {
    font-size: 1.9rem;
    font-weight: 300;
    width: 66%;
    text-align: justify;
}

#landing-icons {
    margin-top: 7.4vh;
    opacity: .25;
    width: 23%;
    font-size: 27vw;
    justify-content: flex-end;
    align-items: flex-end;
}


/*=============================================
=            __Projects Section               =
=============================================*/

.projects-title {
    font-size:3.5vw;
    font-weight:300;
    font-family: 'Oswald';
    background-color: var(--dark-theme);
    color: var(--light-theme);
    width: fit-content;
    padding: .25rem;
    margin:0;
    transform:translateX(-3vw) translateY(-4vh);
}

.projects-languages {
    opacity:.5;
    width:fit-content;
}

.projects-text {
    font-size:119%;
    font-weight: 300;
}

.projects-text {
    width:60%;
}

.projects-holder {
    display:grid;
    grid-template-columns: repeat(var(--grid-projects), 100vw);
    transition: 250ms;
}

.projects-card>div:nth-child(2) {
    width:40%;
}

.projects-card img {
    object-fit: cover;
    width:100%;
}

.projects-img-wrapper {
    margin-right:1rem;
    overflow:hidden;
    width:40vw;
    height:50vh;
}

#projects button {
    font-size:120%;
}

.projects-nav-dot {
    width:1rem;
    height:1rem;
    margin:1rem .25rem;
    border-radius: 50%;
    background-color: var(--dark-theme);
    opacity:.25;
    cursor: pointer;
    color:var(--light-theme);
    transition: .25s;
    transition-delay:.25s;
    text-align: center;
}

.projects-nav-dot:hover {
    opacity:1;
    padding:0 .5rem;
    border-radius: 1rem;
    width:10rem;
    transition-delay: 0s;
}

#projects>.arrows>span {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    font-size:14vw;
    cursor:pointer;
    user-select: none;
}

#cl {
    left:-5%;
}

#cr {
    right:5%;
}


/*=============================================
=            __About Section                  =
=============================================*/



/*=============================================
=            __Media Queries                  =
=============================================*/

@media screen and (max-width:830px) {
    #landing h2 {
        font-size: 16vw;
        line-height: 16vw;
    }

    #landing p {
        font-size: 1.4rem;
    }
}

/*----------  Mobile  ----------*/


@media screen and (max-width:620px) {
    #menu-bar {
        display: block;
    }

    .main-wrapper {
        padding:0 .5rem;
    }

    .active-section {
        opacity: 1;
        pointer-events: all;
    }

    #header {
        padding-top: 2rem;
        transform: translateX(100%);
    }

    #navigation>li::before {
        font-size: 5vw;
    }

    .page.custom-scroll,
    .page.custom-scroll.normal-scroll {
        display: block;
        position: relative;
    }

    .section-title {
        font-size: 22vw;
        margin: 0 0 5vh 0;
    }

    /* Landing section */

    #landing-text {
        width: 89%;
    }

    #landing h2 {
        margin-bottom: 0;
    }

    #landing p {
        width: 100%;
    }

    /* Projects section */

    .projects-title, .projects-text, .projects-card .btn {
        margin:0 auto;
    }

    .projects-title {
        transform: translateX(0) translateY(-.5rem);
        font-size:250%;
    }

    .projects-languages {
        text-align: center;
    }

    .projects-card, .projects-card>div:nth-child(2) {
        width:100vw;
        display:flex;
        flex-direction:column;
        align-items: center;
    }

    .projects-text {
        margin:1rem auto;
        width:91%;
    }

    .projects-img-wrapper {
        width:80vw;
        height:25vh;
        margin:0;
    }

    .projects-all-nav {
        margin-top:2rem;
    }
}

@media screen and (max-width:323px) {
    #landing p {
        font-size: 8vw;
    }
}