/*=============================================
=            __Projects Section               =
=============================================*/

.projects-title {
    font-size: 3.5vw;
    font-weight: 300;
    font-family: 'Oswald';
    background-color: var(--dark-theme);
    color: var(--light-theme);
    width: fit-content;
    padding: .25rem;
    margin: 0;
    transform: translateX(-3vw) translateY(-4vh);
}

.projects-languages {
    opacity: .5;
    width: fit-content;
}

.projects-text {
    font-size: 119%;
    font-weight: 300;
}

.projects-img-wrapper {
    margin-right: 1rem;
    overflow: hidden;
    width: 40vw;
    height: 50vh;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.2);
}

.projects-img-wrapper>img {
    height: 101%;
    filter: grayscale(0.75);
}

.projects-nav-dot {
    width: 1.25rem;
    height: 1.25rem;
    margin: 1rem .25rem;
    border-radius: 50%;
    background-color: var(--dark-theme);
    opacity: .25;
    cursor: pointer;
    transition: .25s;
    transition-delay: .25s;
    text-align: center;
    overflow: hidden;
}

.projects-nav-dot:not(.active-project)>p {
    opacity: 0;
    transition: .25s;
}

.projects-nav-dot:hover>p,
.active-project>p {
    opacity: 1;
}

.projects-nav-dot>p {
    pointer-events: none;
    display: inline;
    color: var(--light-theme);
}

.projects-nav-dot:hover,
.active-project {
    opacity: 1;
    padding: 0 .5rem;
    border-radius: 1rem;
    width: 10rem;
    transition-delay: 0s;
}

#projects>.arrows>svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5vw;
    cursor: pointer;
    user-select: none;
}

#cl {
    left: 1rem;
}

#cr {
    right: 15rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
}

.projects article {
    padding: 0 1rem;
}

.project-card a {
    color: var(--dark-theme);
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projects-detailed-holder {
    transform: translateX(-100%);
    position: fixed;
    overflow-y: scroll;
    z-index: 400;
    top: 0;
    height: 100vh;
    width: 50%;
    padding: 0 1rem;
    background-color: var(--light-theme);
    transition: .33s ease-in-out;
}

.projects-detailed-holder.opened {
    transform: translateX(0%);
}

.project-detailed {
    padding: 0 7vw;
}

.project-detailed img {
    width: 100%;
}

.tech__holder {
    display: flex;
    gap: .5rem;
}

.tech__holder .tech {
    background: #e3e3e3;
    padding: .5rem 1rem;
    border-radius: 10px;
    color: black;
}

.projects-detailed-title a {
    color: var(--dark-theme);
}

.projects-detailed img {
    width: 100%;
    cursor: zoom-in;
}

.projects-detailed p {
    font-size: 120%;
    font-weight: 300;
}

.projects-detailed-holder>span,
.projects-detailed-img>span {
    position: absolute;
    top: 2.5%;
    right: 5%;
    font-size: 3rem;
    cursor: pointer;
}

.projects-detailed-img {
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0, 0.75);
    position: fixed;
    z-index: 500;
    display: none;
    place-items: center;
}

.projects-detailed-img>img {
    width: 95%;
}

.projects-detailed-img>span {
    color: white;
    text-shadow: 0px 0px 5px black;
}